.f3editpassword{
    float: left;
    border:2px solid;
    border-radius:5px;
    margin-left: 27%;
    margin-top: 10%;
    width: 320px;
    height:250px;
    background-color: rgba(18, 18, 18, 0.86);
}

.f3edithead{
    margin-left: 7%;
    margin-top:9%;
    color: white;
    font-family: Microsoft YaHei, 'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    font-size: 18px;
}

.f3edittext{
    margin-left:7%;
    margin-top:9%;
    color: white;
    font-family: Microsoft YaHei, 'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    font-size: 15px;
}


.f3editbtn{
    margin-left: 74.5%;
    margin-top: 6%;
}